<!DOCTYPE html>
<html lang='en' ng-app='resumela'>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/angular-material/1.0.7/angular-material.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic">
    <link rel="stylesheet" href="resumela.css">
  </head>

  <body layout='column'>
    <md-toolbar class='md-tall no-print'>
      <div layout='row' style='margin:1em 2em;'>
        <div style='padding-right:1em;margin-right:1em;border-right:1px solid #777;'>
          <h2>Resumela</h2>
          <div style='font-size: 14px; color:#aaa;'>Separate resume style from content for faster editing</div>
        </div>
        <div ng-repeat='n in [1,2,3]' style='border:1px solid #ccc;height:100px;width: 70px;text-align:center;font-size:10px;margin-right:1em;padding:2em 0;'>
          mock <span style='display:inline-block;'>layout {{n}}</span>
        </div>
      </div>
    </md-toolbar>

    <md-content class='app-canvas'>
      <div layout='row' ng-controller='ResGenController'>
        <div flex class='preview-area'>
          <div class='resume-layout' ng-cloak>
            <div layout='column' class='resume-header'>
              <candidate candidate='candidate'></candidate>
            </div>

            <!-- column-layout: single, wide-slim, slim-wide, fifty-fifty -->
            <block column-layout='wide-slim'>
              <column>
                <section header='EXPERIENCE'>
                  <job class='job-item' job='job' ng-repeat='job in jobs'></job>
                </section>
              </column>

              <column>
                <section header='SKILLS'>
                  <skill class='padding-bottom-3x' skill='skill' ng-repeat='skill in skills'></skill>
                </section>

                <section header='PROJECTS'>
                  <project project='prj' ng-repeat='prj in projects'></project>
                </section>

                <section header='EDUCATION'>
                  <education class='padding-bottom-2x' degree='deg' ng-repeat='deg in degrees'></education>
                </section>

                <section header='PUBLICATIONS'>
                  <publication class='padding-bottom-2x' publication='pub' ng-repeat='pub in publications'></publication>
                </section>

                <section header='ACHIEVEMENTS'>
                  <achievement class='padding-bottom-2x' achievement='a' ng-repeat='a in achievements'></achievements>
                </section>
              </column>
            </block>
          </div>
        </div>

        <div flex='25' class='no-print control-area' ng-cloak>
          <md-toolbar>
            <div class="md-toolbar-tools">
              <span><i class='fa fa-gears'></i> Settings</span>
            </div>
          </md-toolbar>
          <md-content class='padding-horiz-1x'>
            <div>
              <h4>Option 1.</h4>
              <md-input-container class='md-block'>
                <label>resume file in same path as index.html</label>
                <input ng-model="$storage.localRes">
                <div ng-show='$errors.localRes' class='error'>
                  Unable to load file "{{$storage.localRes}}". Make sure it's in the same path as index.html and does not contain invalid json.
                </div>
              </md-input-container>
              <div class='align-right'>
                <md-button ng-click='renderSample()' style='border:1px solid #aaa;'>
                  Render Sample
                </md-button>
                <md-button ng-click='renderLocalResume()' class='md-primary' style='border:1px solid #aaa;'>
                  Render from File
                </md-button>
              </div>
            </div>

            <div style='margin-top: 5em;'>
              <h4>Option 2.</h4>
              <md-input-container class="md-block">
                <label>Paste JSON resume here</label>
                <textarea ng-model="jsonResInput" md-maxlength="15000" rows='15' md-select-on-focus style='height:15em;'></textarea>
              </md-input-container>
              <div class='align-right'>
                <md-button ng-click='renderInputString()' class='md-primary' style='border:1px solid #aaa;'>
                  <i class='fa fa-mail-reply'></i> Render
                </md-button>

                <md-button ng-click='pasteSample()' class='md-primary' style='border:1px solid #aaa;'>
                  <i class='fa fa-paste'></i> Paste Sample
                </md-button>
              </div>
            </div>
          </md-content>
        </div>
      </div>
    </md-content>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-animate.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-aria.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0-rc4/angular-material.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ngStorage/0.3.6/ngStorage.min.js"></script>
    <script src="resumela-app.js"></script>
    <script src="item-directives.js"></script>
    <script src="layout-directives.js"></script>
  </body>
</html>
