body{
  font-size: 13px;
}

@page{
  size: auto;   /* auto is the initial value */
  /* this affects the margin in the printer settings */
  margin: 70mm 25mm;
}

.block .column:not(:last-child){
  padding-right: 1em;
}
.block .column:not(:first-child){
  padding-left: 1em;
}

/* section css*/
.section{
  page-break-inside: avoid;
  text-align: left;
  width:100%;
}
.section-header{
  font-size:24px;
  text-transform: capitalize;
  border-bottom:2px solid black;
}
.candidate-section .photo-frame{
  background-color: #dff0d8;
  width: 150px;
  height: 150px;
  font-size: 120px;
  text-align: center;
  border-radius: 75px;
  position:absolute;
  bottom:0;right:0;
}

/* item css */
.item{
  page-break-inside: avoid;
}
.item .date, .item .location, .item .note{
  color: #aaa;
}
.item .date, .item .location{
  display: inline-block;
  width: 13em;
}


.job-item{
  padding-bottom: 5px;
}
.job-item:not(:last-child){
  border-bottom:1px dashed #ddd;
}
.job-item .job-title{
  font-size: 22px;
  margin-top:10px;
}
.job-item .company-name{
  font-size:16px;
  font-weight: bold;
}
.job-item .used-skill{
  display: inline-block;
  padding: 3px;
  border: 1px solid #ccc;
  border-radius: 5px;

  margin-right: 5px;
  margin-bottom: 5px;
}

.education-item .degree{
  font-size: 20px;
}
.education-item .school{
  font-size: 16px;
  font-weight:bold;
}


.left-column{
  padding-right: 1em;
}
.right-column{
  padding-left: 1em;
}

/* headings */
h1{
  font-size: 40px;
  margin: 10px 0;
}
h2{
  font-size: 28px;
  margin: 10px 0;
}
h3{
  font-size: 24px;
  margin: 5px 0;
}
h4{
  font-size: 18px;
  margin: 5px 0;
}
h5{
  font-size: 16px;
}

span.comma-list:not(:last-child):after{
  content: ', '
}

/* colors */
.text-primary{
  color: #337ab7;
}
.text-success{
  color: #3c763d;
}
.text-bold{
  font-weight: bold;
}
.bg-success {
  background-color: #dff0d8;
}
.error{
  color: red;
  font-size: 13px;
}

/* padding and margin utils */
.no-margin-top{
  margin-top:0;
}
.no-margin-bottom{
  margin-bottom:0;
}
.padding-top-1x{
  padding-top:5px;
}
.padding-top-2x{
  padding-top:10px;
}
.padding-top-3x{
  padding-top:15px;
}
.padding-left-1x{
  padding-left:5px;
}
.padding-right-1x{
  padding-right:5px;
}
.padding-horiz-1x{
  padding-left: 5px;
  padding-right: 5px;
}
.padding-bottom-1x{
  padding-bottom: 5px;
}
.padding-bottom-2x{
  padding-bottom: 10px;
}
.padding-bottom-3x{
  padding-bottom: 15px;
}

/* alignment utils */
.align-right{
  text-align: right;
}

/* border utils */
.border-bottom-light{
  border-bottom: 1px solid #ddd;
}

[ng\:cloak], [ng-cloak], .ng-cloak {
  display: none !important;
}

.preview-area{
  padding: 0 2em;
}
.control-area{
  border: 1px solid #ddd;
  border-radius: 5px;
}
.control-area md-toolbar{
  background-color: transparent;
  border-bottom:1px solid #ddd;
  color: #aaa;
}
.control-area md-content{
  background-color: transparent;
}

.resume-layout{
  background-color: white;
}
.resume-header{
  margin-bottom: 1em;
}

@media screen{
  .app-canvas{
    padding: 3em 1em;
    background-color: #dff0d8;
    min-width: 1400px;
  }

  .resume-layout{
    border-radius: 5px;
    min-width: 850px;
    max-width: 850px;
    padding: 4em 5em;
  }
}

@media print{
  .no-print{
    display:none;
  }
  .app-canvas{
    padding: 0 0;
  }
  .preview-area{
    padding: 0 0;
  }
  .resume-layout{
    padding: 0 0.1em;
  }

  .item .date, .item .location, .item .note{
    color: #ccc;
  }
}


ul.li-hilights{
  padding-left: 1em;
  margin:0.5em 0;
}

input[type=range] {
  -webkit-appearance: none;
  width: 100%;
  border-radius: 8px;
  height: 7px;
  border: 1px solid #bdc3c7;
  background-color: #fff;
}
input[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none;
  background-color: #ecf0f1;
  border: 1px solid #bdc3c7;
  width: 20px;
  height: 20px;
  border-radius: 10px;
  cursor: pointer;
}
.text-small{
  font-size: 12px;
}
