<ul class='text-big text-note'>
  <li class='padding-vert-1x'>R&eacute;sum&eacute;la is intended to cut down resume editing time for users familiar with angularjs</li>
  <li class='padding-vert-1x'>To play with the included sample resume, use this web demo as is</li>
  <li class='padding-vert-1x'>
    To edit your own resume, clone <a href='https://github.com/taivo/resumela'>https://github.com/taivo/resumela.git</a>
    and open "index.html" as a local file. Then use the "Content" tab
  </li>
  <li class='padding-vert-1x'>
    Use the included 'sample-resume.json' to figure out the schema. It's simple and it allows easy experimentation with resume layout.
  </li>
  <li class='padding-vert-1x'>
    Modify any of the included templates or css classes to render/style your resume differently
  </li>
  <li class='padding-vert-1x'>
    Use your browser's print feature to print the resume or export to PDF. CSS rules are already set to hide all non-resume GUI elements.
  </li>
</ul>
