<div class='tool-panel'>
  <!--div class='border-bottom-light' style='padding: 2em 0.5em;border-width:3px;'>
    <md-button ng-click='loadSampleResume()' class='md-primary'>* Reset demo *</md-button>
    <div class='padding-horiz-2x text-note'>
        <p>
            This is a barebone demo only. To fully use resumela, clone <a href='https://github.com/taivo/resumela'>the repo</a>,
            then place a json resume file in the "user-data" subdirectory and load it. To customize, just edit the
            various templates and directives.
        </p>
        <p>
            Usage requirement: familiarity with AngularJS, not meant for mobile.
        </p>
    </div>
</div-->

  <md-tabs md-dynamic-height md-selected='selectedTab'>
    <md-tab label='Layout'>
      <md-content class='padding-2x' ng-include="'toolPanel/_layoutDemoPane.html'"></md-content>
    </md-tab>
    <md-tab label='Templates'>
        <md-content class='padding-2x' ng-include="'toolPanel/_templateEditPane.html'"></md-content>
    </md-tab>
    <md-tab label='Content'>
      <md-content class='padding-2x' ng-include="'toolPanel/_contentEditPane.html'"></md-content>
    </md-tab>
    <md-tab label='Help'>
      <md-content class='padding-2x' ng-include="'toolPanel/_helpPane.html'"></md-content>
    </md-tab>
  </md-tabs>
</div>
