<table class='section'>
  <!--
  Use table because some browsers reprint the header on pagebreak. This is desirable behavior.
  Note that safari still doesn't do this
  <div class='section'>
    <h2 class='section-header'>{{header}}</h2>
    <ng-transclude></ng-transclude>
  </div>
  -->
  <thead>
    <tr class='padding-bottom-1x'>
      <th class='section-header'>{{header}}</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td ng-switch='header'>
        <ng-transclude></ng-transclude>
        <!--job ng-switch-when='EXPERIENCE' job='item' ng-repeat='item in items'></job>
        <skill ng-switch-when='SKILLS' skill='skill' ng-repeat='skill in resume.skills'></skill>
        <project ng-switch-when='PROJECTS' project='prj' ng-repeat='prj in resume.projects'></project>
        <education ng-switch-when='EDUCATION' class='padding-bottom-2x' degree='deg' ng-repeat='deg in resume.degrees'></education>
        <publication ng-switch-when='PUBLICATIONS' class='padding-bottom-2x' publication='pub' ng-repeat='pub in resume.publications'></publication>
        <achievement ng-switch-when='ACHIEVEMENTS' class='padding-bottom-2x' achievement='a' ng-repeat='a in resume.achievements'></achievement-->
      </td>
    </tr>
  </tbody>
</table>
