<table class='section'>
  <!--
  Use table because some browsers reprint the header on pagebreak. This is desirable behavior.
  Note that safari still doesn't do this
  <div class='section'>
    <h2 class='section-header'>{{header}}</h2>
    <ng-transclude></ng-transclude>
  </div>
  -->
  <thead>
    <tr class='padding-bottom-1x'>
      <th class='section-header'>{{header}}</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>
        <ng-transclude></ng-transclude>
      </td>
    </tr>
  </tbody>
</table>
