<div class='tool-panel'>
  <div class='border-bottom-light' style='padding: 2em 0.5em;'>
    <md-button class='md-primary'>* Reset demo and use sample resume *</md-button>
  </div>

  <md-tabs md-dynamic-height md-selected='selectedTab'>
    <md-tab label='Content'>
      <md-content class='padding-2x'>
        <div class='padding-top-3x'>
          <div class='text-big'>
            <i class='fa fa-info'></i>
            To edit your own resume, clone <a href='https://github.com/taivo/resumela'>https://github.com/taivo/resumela.git</a>
            and open "index.html" as a local file. Then use "Load Resume"
          </div>

          <md-input-container class='md-block'>
            <label>Local resume file, relative to index.html</label>
            <input ng-model="$storage.localRes">
            <div ng-show='$errors.localRes' class='error'>
              Unable to load file "{{$storage.localRes}}". Make sure it's in the same path as index.html and does not contain invalid json.
            </div>
            <div class='align-right'>
              <md-button ng-click='renderLocalResume()' class='md-primary' style='border:1px solid #aaa;'>
                Load Resume
              </md-button>
            </div>
          </md-input-container>

          <json-display object='activeResume'></json-display>

        </div>

      </md-content>
    </md-tab>
    <md-tab label='Styles'>
      Edit styles
    </md-tab>
    <md-tab label='Versions'>
      Track resume versions
    </md-tab>

    <md-tab label='Stuff'>
      <div>
        <md-toolbar>
          <div class="md-toolbar-tools">
            <span><i class='fa fa-edit'></i> Editors</span>
          </div>
        </md-toolbar>
        <md-content class='padding-horiz-1x'>


          <div>

          <div style='margin-top: 5em;'>
            <h4>Option 2.</h4>
            <md-input-container class="md-block">
              <label>Paste JSON resume here</label>
              <textarea ng-model="jsonResInput" md-maxlength="15000" rows='15' md-select-on-focus style='height:15em;'></textarea>
            </md-input-container>
            <div class='align-right'>
              <md-button ng-click='renderInputString()' class='md-primary' style='border:1px solid #aaa;'>
                <i class='fa fa-mail-reply'></i> Render
              </md-button>

              <md-button ng-click='pasteSample()' class='md-primary' style='border:1px solid #aaa;'>
                <i class='fa fa-paste'></i> Paste Sample
              </md-button>
            </div>
          </div>
        </md-content>
      </div>
    </md-tab>
  </md-tabs>
</div>
