<div class='item job-item'>
  <div class='job-title'>{{item.title}}</div>

  <div class='text-primary company-name'>{{item.company}}</div>

  <div>
    <span class='date'>
        <i class='fa fa-calendar'></i>
        {{item.startDateStr}} - {{item.endDateStr}} - {{item.durationStr}}
    </span>
    <span class='location' ng-if='item.location'>
        <i class='fa fa-map-marker'></i>
        {{item.location}}
    </span>
  </div>

  <div class='note'>{{item.companyBrief}}</div>

  <ul class='li-hilights'>
    <li ng-repeat='bulletPoint in item.hilights'>
      <div>{{bulletPoint}}</div>
    </li>
    <li>
        Skills:
        <span class='text-bold comma-list' ng-repeat='sk in item.skills'>
            {{sk}}
        </span>
    </li>
  </ul>
</div>
