<div>
    <div>
        <h5 style='margin-bottom:0;'>Data</h5>
        <json-display object='templateModel' style='max-height: 10em;'></json-display>
    </div>

    <div>
        <h5 style='margin-bottom:0;'>Fields</h5>
        <div>{{modelKeys}}</div>
    </div>

    <h5 style='margin-bottom:0;'>{{templateId}} Template</h5>
    <div ui-ace="{mode: 'html'}" ng-model='templateContent'></div>
    <div style='text-align:right;'>
        <md-button ng-click='updateTemplate()' class='md-primary'>Update</md-button>
    </div>
</div>
