<div class='item' ng-switch='itemType'>
  <div ng-switch-when='EXPERIENCE'>
    <div class='job-title'>&&{{item}}</div>

    <div class='text-primary company-name'>{{item.company}}</div>

    <div>
      <span class='date'><i class='fa fa-calendar'></i> {{item.fromDate}} - {{item.toDate}}</span>
      <span class='location'><i class='fa fa-map-marker'></i> {{item.location}}</span>
    </div>

    <div class='note'>{{item.companyBrief}}</div>

    <ul class='li-hilights'>
      <li ng-repeat='bulletPoint in job.hilights'>
        <div>{{bulletPoint}}</div>
      </li>
      <li>Skills: <span class='text-bold comma-list' ng-repeat='sk in job.skills'>{{sk}}</span></li>
    </ul>
  </div>
</div>
